<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
</head>
<body>
    <table>
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
        </tr>
        <tr>
            <tr th:each="employee:${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastName}"></td>
                <td th:text="${employee.position}"></td>
            </tr>
        </tr>
    </table>
</body>
</html>